{% extends "layout.html" %}
{% block title %}
<h3>Makaleler</h3>
<hr>
{% if articles %}
<form action="/search" method="post">
    <input type="text" name="keyword" class="form-control input-sm" maxlength="64" placeholder="Search">
    <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>
<hr>

<ul class="list-group">
    {% for article in articles  %}
    <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>
    
    </form>
    
    {% endfor %}
</ul>
{% else %}
<div class="alert-alert-danger">Bu blogta henüz makale bulunamamaktadır</div>
{% endif %}

{% endblock title %}
